<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="Regression">-->
<!--  <test name="Login tests">-->
<!--    <classes>-->
<!--        <class name="tests.vytrack.LoginTests"/>-->
<!--   </classes>-->
<!--  </test>-->
<!--  <test name="Calender events tests">-->
<!--  <classes>-->
<!--     <class name="tests.vytrack.NewCalendarEventsTests"/>-->
<!--  </classes>-->
<!--  </test> -->
<!--    -->
<!-- cmd /  short cut   -->

<!--    in this case we dont need to specify every class one by one-->
<!--    just include package-->



<!--      to specify name of the report file testBase den report kismina bisiler ekledik -->
<!--      ==  pass parameter with parameter tag-->

<!--        <parameter name="test" value="regression"></parameter>-->


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression">

    <!-- in this case we don't need to specify every class one by one, just include package-->
    <test name="Vytrack regression tests">
        <parameter name="test" value="regression"></parameter>
        <packages>
            <package name="tests.vytrack"></package>
        </packages>
    </test>
</suite>

